{{#if enableBadges}}
  <div class="facets-group facets-badge-group">
    <div class="facets-badges">
      {{#if badgesTitle}}
        <span class="facets-badges-title">
          {{{badgesTitle}}}
        </span>
      {{/if}}
    </div>
  </div>
{{/if}}
