<div id="{{id}}" class="facets-facet-base facets-facet-placeholder
{{#if hidden}}
    facets-facet-placeholder-hidden
{{/if}}
">
    <div class="facet-block">
        <div class="facet-html">
            {{{html}}}
        </div>
    </div>
</div>
