<div class="facets-group-container">
	<div class="facets-group">
		<div class="group-header">
			{{#if collapsible}}
				<div class="group-expander">
					<i class="fa fa-check-square-o toggle"></i>
				</div>
			{{/if}}
			{{{label}}}
		</div>
		<div class="group-facet-container-outer">
			<div class="group-facet-container"></div>
			<div class="group-more-container"></div>
		</div>
		<div class="group-facet-ellipsis">...</div>
	</div>
</div>
