
# Installed Modules
node_modules

# Temp Files
.tmp
.DS_Store

# IDE / Editors
.idea
.vscode

# Build Artifacts
dist

# log files
*.log

todo.txt
.npmrc

# Uncharted facets (ignore non-source files)
lib/@uncharted/facets/bamboo
lib/@uncharted/facets/config.js
lib/@uncharted/facets/coverage
lib/@uncharted/facets/jspm_packages
lib/@uncharted/facets/mocha.json
lib/@uncharted/facets/public/facets.css
lib/@uncharted/facets/public/facets.min.css
lib/@uncharted/facets/public/facets.js
lib/@uncharted/facets/public/facets.min.js
lib/@uncharted/facets/public/facets.extern.js
lib/@uncharted/facets/public/javascripts/templates
