<div class="facets-group">
    <div class="group-header">
		<div class="group-expander">
			<i class="fa fa-check-square-o toggle"></i>
		</div>
		Queries
	</div>
	<div class="group-facet-container"></div>
	<div class="group-facet-ellipsis">...</div>
</div>
